.header {
  margin: 0;
  width: 100%;
  height: 120px;
  border-bottom: 2px solid #fcfcfc;
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
}

.cartButton {
  float: right
}
